<!--component html goes here -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <a class="navbar-brand" href="#">Logo</a>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-2 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <form class="form-inline">
          <input class="form-control mr-sm-2 " type="text" placeholder="Keresés">
          <button class="btn btn-success" type="submit">Keresés</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
