body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #eee;
    font: 12px/1.15em Verdana,Arial,sans-serif;
    position: relative;
}

#container {
    width: 980px;
    margin: auto;
}
